[submodule "mist-invoice-contracts/lib/forge-std"]
	path = mist-invoice-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "mist-invoice-contracts/lib/core"]
	path = mist-invoice-contracts/lib/core
	url = https://github.com/ModularIncognitoSTack/core
